.social-group-container {
    background-color: #cccccc;
    padding: 15px;
}

.account {
    width: 80px;
}

.main-header {
    padding-bottom: 40px;
}

.info-header {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #ffe48a;
}

.list-group {
    max-height: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.members-section {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 239, 209);
    border: dotted 1px black;
}