.navbar {
    height: auto;
    width: 100%;
    background-color: #282828;
    margin-top: 5px;
}

.logo {
    width: 60px;
}

.account {
    width: 60px;
}

.login-panel {
    width: 450px;
}

.float-end {
    clear: both;
}

.tempdiv {
    width: 100%;
}

.dropdown {
    z-index: 999;
}

.account-click:hover {
    cursor: pointer;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: white;
    background-color: transparent;
}

.pointer :hover {
    cursor: pointer;
}