<!-- <nav class="navbar navbar-expand-lg sticky-top">
    <div class="tempdiv">
        <div class="float-left">
            <a class="navbar-brand" href="#"><img src="assets/logo.png" class="img-responsive img-fluid logo" alt="Responsive image" /></a>
        </div>
        <div class="float-right">
        </div>

        <div class="float-end"></div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md sticky-top">
    <a class="navbar-brand"><img src="assets/logo.png" class="img-responsive img-fluid logo" alt="Responsive image" /></a>
    <button *ngIf="this.isTokenSet()" class="details navbar-toggler bg-light" type="button" (click)="isCollapsed=!isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>

    <div *ngIf="this.isTokenSet()" class="details collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="false">
        <!-- bo sie psuje z [isAnimated]="true" ticket: https://github.com/valor-software/ngx-bootstrap/issues/5369-->
        <div (keyup.enter)="search()" class="my-2 my-lg-0 mr-auto">
            <form class="form-inline" [formGroup]="form">
                <input class="form-control " type="search" formControlName="searchText" placeholder="wpisz szukaną frazę..." aria-label="Search">
                <button type="button" class="btn btn-outline-warning" style="margin-right: 20px; margin-left: 10px;" (click)="search()">Szukaj</button>
            </form>
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="pointer nav-item active">
                <div class="nav-link" (click)="topbarNavigate('/pages/wall')">Tablica <span class="sr-only">(current)</span></div>
            </li>
            <li class="pointer nav-item dropdown" dropdown>
                <div class="nav-link dropdown-toggle" id="navbarDropdown" (click)="false" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                    Treningi
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
                    <div class="pointer dropdown-item" (click)="topbarNavigate('/pages/training')">Szukaj treningów</div>
                    <div class="pointer dropdown-item" (click)="topbarNavigate('/pages/user-training')">Moje treningi</div>
                    <div class="pointer dropdown-item" (click)="topbarNavigate('/pages/user-progress-history')">Historia postępów</div>
                </div>
            </li>
            <li id="admin-dropdown" *ngIf="isAdmin()" class="pointer nav-item active">
                <div class="nav-link" (click)="topbarNavigate('/pages/administration')">Administracja <span class=" sr-only ">(current)</span></div>
            </li>
        </ul>

        <a id="account-management " *ngIf="this.isTokenSet() " class="details form-inline my-2 my-lg-0 account-click " (click)="topbarNavigate('/pages/acc-manage')"><img src="assets/login-iconv2.PNG " class="img-fluid account " alt="Responsive image "></a>
        <button type="button " class="btn btn-outline-light " style="margin-right: 20px; margin-left: 10px; " (click)="logout() ">Wyloguj</button>
    </div>
</nav>