.navbar {
    height: 70px;
    width: 100%;
    background-color: #282828;
    margin-top: 5px;
}

.logo {
    width: 60px;
}

.login-panel {
    width: 450px;
}

.float-end {
    clear: both;
}

.tempdiv {
    width: 100%;
}