<!-- <nav class="navbar navbar-expand-lg sticky-top">
    <div class="tempdiv">
        <div class="float-left">
            <a class="navbar-brand" href="#"><img src="assets/logo.png" class="img-responsive img-fluid logo" alt="Responsive image" /></a>
        </div>
        <div class="float-right">
        </div>

        <div class="float-end"></div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md sticky-top">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" class="img-responsive img-fluid logo" alt="Responsive image" /></a>
    <button class="navbar-toggler bg-light" type="button" (click)="isCollapsed=!isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>

    <div *ngIf="true" class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="false">
        <!-- bo sie psuje z [isAnimated]="true" ticket: https://github.com/valor-software/ngx-bootstrap/issues/5369-->


        <form class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control mr-md-2 mx-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href (click)="false" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            Dropdown
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>


        <a class="form-inline my-2 my-lg-0" href="#"><img src="assets/login-iconv2.PNG" class="img-fluid account" alt="Responsive image"></a>
    </div>
</nav>