<!-- <nav class="navbar navbar-expand-lg sticky-top">
    <div class="tempdiv">
        <div class="float-left">
            <a class="navbar-brand" href="#"><img src="assets/logo.png" class="img-responsive img-fluid logo" alt="Responsive image" /></a>
        </div>
        <div class="float-right">
        </div>

        <div class="float-end"></div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md sticky-top">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" class="img-responsive img-fluid logo" alt="Responsive image" /></a>
    <button *ngIf="this.isTokenSet()" class="details navbar-toggler bg-light" type="button" (click)="isCollapsed=!isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>

    <div *ngIf="this.isTokenSet()" class="details collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="false">
        <!-- bo sie psuje z [isAnimated]="true" ticket: https://github.com/valor-software/ngx-bootstrap/issues/5369-->


        <form class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control mr-md-2 mx-2" type="search" placeholder="wpisz szukaną frazę..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/pages/wall">Wall <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href (click)="false" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                Treningi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
                    <a class="dropdown-item" href="/pages/training">Szukaj treningów</a>
                    <a class="dropdown-item" href="/pages/user-training">Moje treningi</a>
                    <a class="dropdown-item" href="/pages/user-progress-history">Historia postępów</a>
                </div>
            </li>
            <li id="admin-dropdown" *ngIf="isAdmin()" class="nav-item active">
                <a class="nav-link" href="/pages/administration">Administracja <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <a id="account-management" *ngIf="this.isTokenSet()" class="details form-inline my-2 my-lg-0 account-click" (click)="accountManagement()"><img src="assets/login-iconv2.PNG" class="img-fluid account" alt="Responsive image"></a>
    </div>
</nav>