hr {
    margin: 5px;
}

.img-fluid {
    width: 30px;
    height: 30px;
}

.main-row {
    min-height: 30px;
}

.post-container {
    background-color: rgb(223, 223, 223);
    border: solid 2px rgb(201, 201, 201);
}

.row {
    padding: 5px;
    padding-left: 10px;
}

.header-row {
    padding-bottom: 0;
    // border-bottom: solid rgb(165, 165, 165) 1px;
}