<div class="post-container">
    <div class="header-row row">
        <div class="col-lg-10 col-md-9 col-sm-8">
            <span class="float-left"><img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image"></span>
            <span class="float-left" style="padding-top: 4px;"><strong>{{data.user.firstName}} {{data.user.lastName}} ({{data.user.login}})</strong></span>
            <span class="float-end"></span>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            {{data.publicationDate}}
        </div>
    </div>
    <hr>
    <div class="main-row row">
        <div class="col">
            {{data.content}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <span class="float-left"><img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image"></span>
            <span class="float-left"><img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image"></span>
            <span class="float-left"><img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image"></span>
            <span class="float-end"></span>
        </div>
    </div>

</div>