<div class="post-container">
    <div class="header-row row">
        <div class="col-lg-10 col-md-9 col-sm-8">
            <span class="float-left"><img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image"></span>
            <span class="float-left" style="padding-top: 4px;"><strong>{{data.user.firstName}} {{data.user.lastName}} ({{data.user.login}})</strong></span>
            <span class="float-end"></span>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            {{data.publicationDate}}
        </div>
    </div>
    <hr>
    <div class="main-row row">
        <div class="col py-3">
            {{data.content}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col" style="margin-left: 10px;">
            <span *ngIf="!alreadyLiked" class="like-icon float-left" (click)="likePost()"><img src="assets/heart-icon-empty.png" class="img-fluid float-left" alt="Responsive image"></span>
            <span *ngIf="alreadyLiked" class="like-icon float-left" (click)="dislikePost()"><img src="assets/heart-icon.png" class="img-fluid float-left" alt="Responsive image"></span>
            <span class="likes float-left" style="margin-right: 20px; margin-left: 2px;"><b>{{ likesNumber }}</b></span>
            <span class="comment-icon float-left" (click)="showComments = !showComments">
                <img *ngIf="!showComments" src="assets/comment_icon.png" class="img-fluid float-left" alt="Responsive image">
                <img *ngIf="showComments" src="assets/comment_icon_selected.png" class="img-fluid float-left" alt="Responsive image">
            </span>
            <span class="float-end"></span>
        </div>
    </div>
    <div *ngIf="showComments">
        <hr>
        <div class="comment" *ngFor="let comment of commentsList">
            <div class="header-comment row">
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <span class="float-left"><img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image"></span>
                    <span class="float-left" style="padding-top: 4px;">{{comment.user.firstName}} {{comment.user.lastName}} ({{comment.user.login}}): </span>
                    <span class="float-end"></span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    {{comment.publicationDate}}
                </div>
            </div>
            <div class="comment-body row">
                <div class="col py-1">
                    {{comment.commentContent}}
                </div>
            </div>
        </div>
    </div>
    <div class="comment-input row">
        <form [formGroup]="form" class="col-lg-10 col-md-9 col-sm-8">
            <input type="text" class="form-control" formControlName="commentContent" placeholder="Napisz co o tym myślisz...">
        </form>
        <div class="buttoncol col-lg-2 col-md-3 col-sm-4">
            <button class="btn pull-right" (click)="commentOnPost()" [disabled]="form.controls.commentContent.invalid">skomentuj</button>
        </div>
    </div>

</div>