.container-fluid {
    padding: 15px;
}

.register-container {
    background-color: #cccccc
}
.reg-title{
    font-size: 20px;
    font-weight: bold;
}
.reg-text{
    margin-top: 15px;
    margin-left: 10px;
}
.reg-container{
    margin-left: 10px;
}
.btn-light{
    margin-top: 30px;
}
.form-control{
    max-width: 400px;
}
.alert-danger{
    max-width: 400px;
}