<div class="container-fluid login-container">
    <div class="header">
        <img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image">
        <h4 style="color: white; margin-left: 6px;" class="float-left">Zaloguj się</h4>
    </div>
    <form #todoForm="ngForm">
        <input id="login" name="login" class="form-control" required maxlength="30" [(ngModel)]="loginData.login" #loginModel="ngModel" placeholder="Login">

        <div *ngIf="loginModel.invalid && (loginModel.dirty || loginModel.touched)" class="alert alert-danger">

            <div *ngIf="loginModel.errors.required">
                Login jest wymagany
            </div>
        </div>
    </form>
    <form #todoForm="ngForm">
        <input id="passwd" name="passwd" type="password" class="form-control" required maxlength="30" [(ngModel)]="loginData.password" #passwdModel="ngModel" placeholder="Hasło">

        <div *ngIf="passwdModel.invalid && (passwdModel.dirty || passwdModel.touched)" class="alert alert-danger">

            <div *ngIf="passwdModel.errors.required">
                Hasło jest wymagane
            </div>
        </div>
    </form>
    <div>
        <p  *ngIf="this.invalidLoginData" style="color: red; margin-left: 8px; margin-right: 16px; font-weight: bold;" class="float-left">Niepoprawny login i/lub hasło</p>
    </div>
    <button (click)="signIn()" type="button" class="btn btn-light">Zaloguj</button>
    <div class="header"></div>

    <div class="header">
        <img src="assets/reg-icon.PNG" class="img-fluid float-left" alt="Responsive image">
        <h4 style="color: white; margin-left: 6px;" class="float-left">Nie masz konta?</h4>
    </div>

    <button (click)="signUp()" type="button" class="btn btn-light">Dołącz do nas!</button>
</div>