.container-fluid {
    background-color: orange;
    height: 85vh;
    padding: 15px;
}

.header {
    display: flex;
    margin-bottom: 20px;
    ;
}

.form-control {
    margin-top: 5px;
}

.img-fluid {
    width: 40px;
    height: 40px;
}

.btn-light {
    margin-top: 5px;
}

.float-left {
    margin-top: 5px;
}

label {
    display: block;
}