#orange-container {
    background-color: orange;
    padding: 15px;
    height: 85vh;
}

.container-fluid {
    padding: 0;
    padding: 20px;
}

.info-block {
    padding: 0;
}

.login-sidebar {
    padding-right: 0px;
}