<div class="container-fluid account-management-container">
    <div class="main-header">
        <table>
            <thead>
                <tr>
                    <th><img src="assets/login-iconv2.PNG" class="img-fluid account" alt="Responsive image"></th>
                    <th>
                        <h1>Twoje konto</h1>
                    </th>
                </tr>
            </thead>
        </table>
    </div>


    <div class="info-header px-4 py-1">
        <h3>Informacje:</h3>
        <hr>
    </div>

    <div class="reg-container my-4 px-2">

        <div class="row py-1">
            <span class="col-2">
                    <h5>Imię:</h5>
                </span>
            <span class="col-6">
                <form #todoForm="ngForm">
                    <input id="firstName" name="firstname" class="form-control" maxlength="30" [(ngModel)]="userInfo.firstName" #loginModel="ngModel">
                </form>
    
            </span>
        </div>

        <div class="row py-1">
            <span class="col-2">
                    <h5>Nazwisko:</h5>
                </span>
            <span class="col-6">
                <form #todoForm="ngForm">
                    <input id="lastName" name="lastname" class="form-control" maxlength="30" [(ngModel)]="userInfo.lastName" #loginModel="ngModel">
                </form>
    
            </span>
        </div>


        <div class="row py-1">
            <span class="col-2">
                    <h5>Email:</h5>
                </span>
            <span class="col-6">
                    <form #todoForm="ngForm">
                        <input id="email" name="email" class="form-control" required maxlength="50" [(ngModel)]="userInfo.email" #emailModel="ngModel" readonly>
        
                    </form>
    
                </span>
        </div>

    </div>


    <div class="info-header px-4 py-1">
        <h3>Bezpieczeństwo:</h3>
        <hr>
    </div>

    <div class="reg-container my-4 px-2">

        <div class="row py-1">
            <span class="col-2">
                <h5>Hasło:</h5>
            </span>
            <span class="col-6">
                <button id="password-button" type="button" class="btn btn-light" (click)='savePassword()'>Zmień hasło</button>
            </span>
        </div>

        <div class="row py-1">
            <span class="col-2">
                <h5>Nickname:</h5>
            </span>
            <span class="col-6">
                <form #todoForm="ngForm">
                    <input id="nickname" name="nickname" class="form-control" maxlength="50" [(ngModel)]="userInfo.nickname" #emailModel="ngModel">
                </form>
            </span>
        </div>

    </div>

    <div class="row py-1">
        <span class="col-2 mx-1">
        </span>
        <span class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Pokazuj imie
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Pokazuj nazwisko
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Udostępniaj lokalizację
                </label>
            </div>
        </span>
    </div>

    <div *ngIf="showLog" class="row py-1">
        <span class="col-2 mx-1">

        </span>
        <div *ngIf="isSaveSuccesful; else elseBlock">
            <p style="color: green">Zapis zakończony sukcesem!</p>></div>
        <ng-template #elseBlock>
            <p style="color: red;">Zapis nie powiódł się...</p>
        </ng-template>
    </div>

    <div class="row py-1">
        <div class="col-md-3 offset-md-9 col-sm-3 offset-sm-7">
            <button id="save-button" type="button" (click)="saveChanges()" class="btn btn-light">Zapisz zmiany</button>
        </div>
    </div>




</div>