.account-management-container {
    background-color: #cccccc;
    padding: 15px;
}

.account {
    width: 80px;
}

.main-header {
    padding-bottom: 40px;
}

.info-header {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #ffe48a;
}