<div id="grey-background">
    <span id="content" class="float-left col-9">
      <router-outlet></router-outlet>
    </span>
    <span id="sidebar" class="float-right col-3">
      <div style="display: grid; margin-left: 10%;">
        <div id="header1">
          <img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image">
          <h4 style="color: white; margin-left: 8px; margin-top: 2px;" class="float-left">Znajomi</h4>
        </div>
        <div class="friends-list-container" style="margin-top: 5px;">
          <div class="block" *ngFor="let data of friendsList; index as i">
            <a *ngIf="data.firstName != null && data.lastName != null"><b>{{data.firstName}} {{data.lastName}} </b>({{data.login}})</a>
            <a *ngIf="data.firstName == null && data.lastName == null">{{data.login}}</a>
          </div>
        </div>
      </div>
      <hr>
      <div *ngIf="invitationsList.length > 0" style="display: grid; margin-left: 10%;">
        <div id="header1">
          <img src="assets/reg-icon.PNG" class="img-fluid float-left" alt="Responsive image">
          <h4 style="color: white; margin-left: 8px; margin-top: 2px;" class="float-left">Propozycje znajomości</h4>
        </div>
        <div class="friends-list-container" style="margin-top: 5px;">
          <div class="block" *ngFor="let data of invitationsList; index as i">
            <a *ngIf="data.secondUser.firstName != null && data.secondUser.lastName != null"><b>{{data.secondUser.firstName}} {{data.secondUser.lastName}} </b>({{data.secondUser.login}})</a>
            <a *ngIf="data.secondUser.firstName == null && data.secondUser.lastName == null">{{data.secondUser.login}}</a>
            <div style="margin-bottom: 10px;">
              <button  type="button" class="btn btn-success btn-sm" style="margin-left: 10px;" (click)="acceptInvitation(data)">Akceptuj</button>
              <button  type="button" class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="cancelInvitation(data)">Odrzuć</button>
            </div>
          </div>
        </div>
      </div>
    </span>
    <span class="float-end"></span>
</div>