<div id="grey-background">
    <span id="content" class="float-left col-9">
      <router-outlet></router-outlet>
    </span>
    <span id="sidebar" class="float-right col-3">
      <div style="display: grid; margin-left: 10%;">
        <div id="header1">
          <img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image">
          <h4 style="color: white; margin-left: 8px; margin-top: 2px;" class="float-left">Znajomi</h4>
          <button type="button" class="btn btn-outline-dark float-left btn-sm" style="margin-left: 20px;" (click)="edit=!edit">Edytuj</button>
        </div>
        <div class="friends-list-container" style="margin-top: 5px;">
          <div class="block" *ngFor="let data of connectionsList; index as i">
            <a *ngIf="data.secondUser.firstName != null && data.secondUser.lastName != null"><b>{{data.secondUser.firstName}} {{data.secondUser.lastName}} </b>({{data.secondUser.login}})</a>
            <a *ngIf="data.secondUser.firstName == null && data.secondUser.lastName == null">{{data.secondUser.login}}</a>
            <button  *ngIf="edit" type="button" class="btn btn-danger btn-sm my-0 py-0" style="margin-left: 10px;" (click)="removeFriend(data)">X</button>
          </div>
        </div>
      </div>
      <hr>
      <div *ngIf="invitationsList != undefined && invitationsList.length > 0" style="display: grid; margin-left: 10%;">
        <div id="header1">
          <img src="assets/reg-icon.PNG" class="img-fluid float-left" alt="Responsive image">
          <h4 style="color: white; margin-left: 8px; margin-top: 2px;" class="float-left">Propozycje znajomości</h4>
        </div>
        <div class="friends-list-container" style="margin-top: 5px;">
          <div class="block" *ngFor="let data of invitationsList; index as i">
            <a *ngIf="data.secondUser.firstName != null && data.secondUser.lastName != null"><b>{{data.secondUser.firstName}} {{data.secondUser.lastName}} </b>({{data.secondUser.login}})</a>
            <a *ngIf="data.secondUser.firstName == null && data.secondUser.lastName == null">{{data.secondUser.login}}</a>
            <div style="margin-bottom: 10px;">
              <button  type="button" class="btn btn-success btn-sm" style="margin-left: 10px;" (click)="acceptInvitation(data)">Akceptuj</button>
              <button  type="button" class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="cancelInvitation(data)">Odrzuć</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div style="display: grid; margin-left: 10%;">
        <div id="header1">
          <img src="assets/reg-icon.PNG" class="img-fluid float-left" alt="Responsive image">
          <h4 style="color: white; margin-left: 8px; margin-top: 2px;" class="float-left">Grupy</h4>
        </div>
        <div class="friends-list-container" style="margin-top: 5px;">
          <div class="block" *ngFor="let data of socialGroupsList; index as i">
            <b>{{data.name}}</b>
          </div>
          <div style="margin-top: 20px;">
            <button  type="button" class="btn btn-success btn-sm" style="margin-left: 10px;" (click)="createGroup()">Utwórz grupę</button>
          </div>
        </div>
      </div>
    </span>
    <span class="float-end"></span>
</div>