.img-fluid {
    width: 40px;
    height: 40px;
}

#sidebar {
    display: block;
}

#header1 {
    display: block;
}

.friends-list-container {
    display: block;
}

.block {
    display: block;
}

.clickable :hover {
    cursor: pointer;
}