<div class="wall-container">
    <ul class="list-group">
        <b *ngIf="groupId.valueOf() != -1 && group != undefined" style="font-size: 40px; margin-left: 20px; margin-bottom: 10px;">{{group.name}}</b>
        <li class="list-group-item">
            <app-post-creator></app-post-creator>
        </li>
        <br/><br/>
        <li *ngFor="let post of posts; index as i" class="list-group-item">
            <app-text-post *ngIf="post.type==1" [data]="post"></app-text-post>
            <app-shared-training-plan-post *ngIf="post.type==2" [data]="post"></app-shared-training-plan-post>
            <app-shared-weight-chart-post *ngIf="post.type==3" [data]="post"></app-shared-weight-chart-post>
            <app-shared-progress-chart-post *ngIf="post.type==4" [data]="post"></app-shared-progress-chart-post>
            <br/>
        </li>
    </ul>
</div>