.img-fluid {
    width: 40px;
    height: 40px;
}

.post-container {
    background-color: rgb(223, 223, 223);
    border: solid 2px rgb(201, 201, 201);
}

.content-field {
    min-height: 120px;
}

.row {
    padding: 5px;
    padding-left: 10px;
}