<div class="post-container">
    <div class="header-row row">
        <div class="col">
            <span class="float-left"><img src="assets/login-iconv2.PNG" class="img-fluid float-left" alt="Responsive image"></span>
            <span class="float-left" style="padding-top: 7px;"><strong>{{user.firstName}} {{user.lastName}} ({{user.login}})</strong></span>
            <span class="float-end"></span>
        </div>
    </div>
    <div class="main-row row">
        <div class="col-lg-12 col-md-9 col-sm-8">
            <form [formGroup]="form">
                <textarea class="form-control" formControlName="content" placeholder="Podziel się z nami o czym myślisz..." rows=4></textarea>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8"></div>
        <div class="buttoncol col-lg-2 col-md-9 col-sm-4">
            <button class="btn pull-right" (click)="postPost()" [disabled]="form.controls.content.invalid">opublikuj post</button>
        </div>
    </div>