<div class="modal-header" style="background-color: orange;">
    <h4 class="modal-title pull-left">Dodawanie ćwiczenia</h4>
    <button type="button" class="cancel-button close pull-right" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body" style="background-color: lightgray;">
    <div class="row">
        <div class="col-md-8 offset-md-2 form-group" style="display: grid;">
            <form [formGroup]="form">
                <label>
                <input id="exercise-name" name="exercise-name" formControlName="name" class="form-control" style="margin-top: 10px;" placeholder="nazwa ćwiczenia" >
                <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)" class="alert alert-danger">
                  <div *ngIf="form.controls.name.errors.required">
                    Nazwa jest wymagana
                  </div>
                </div>
              </label>
                <label>
                  <input id="exercise-sets" name="exercise-sets" formControlName="sets" class="form-control" style="margin-top: 10px;" placeholder="ilość serii" type="number">
                  <div *ngIf="form.controls.sets.invalid && (form.controls.sets.dirty || form.controls.sets.touched)" class="alert alert-danger">
                    <div *ngIf="form.controls.sets.errors.required">
                      Podaj poprawną ilość serii
                    </div>
                  
                  </div>
                </label>
                <label>
                <input id="exercise-reps" name="exercise-reps" formControlName="reps" class="form-control" style="margin-top: 10px;" placeholder="ilość powtórzeń" type="number">
                  <div *ngIf="form.controls.reps.invalid && (form.controls.reps.dirty || form.controls.reps.touched)" class="alert alert-danger">
                    <div *ngIf="form.controls.reps.errors.required">
                      Podaj poprawną ilość powtórzeń
                      </div>
                  </div>
              </label>
            </form>

            <button id="confirm-button" type="button" class="btn btn-success" style="margin-top: 20px;" (click)="onConfirm()" [disabled]="form.invalid || form.controls.sets.invalid || form.controls.reps.invalid">Dodaj</button>
            <button type="button" class="cancel-button btn btn-danger btn-block" style="margin-top: 20px;" (click)="onCancel()">Anuluj</button>
        </div>
    </div>
</div>