<div style="display: grid; grid-auto-flow: column; justify-content: space-between;">
    <b style="font-size: 24px; margin-left: 18px;">SZCZEGÓŁY TRENINGU</b>
    <button *ngIf="!editMode" type="button" class="btn btn-dark" style="margin-right: 20px;" (click)="enableEditMode()">Edytuj</button>
    <div *ngIf="editMode">
        <button type="button" class="btn btn-danger" style="margin-right: 20px;" (click)="cancel()">Anuluj</button>
        <button type="button" class="btn btn-success" style="margin-right: 20px;" (click)="save()">Zapisz</button>
    </div>
</div>

<div class="trainig-list-container">
    <div class="trainig-item-container" style="margin: 22px; background-color: #cccccc; position: relative; border-style: solid;border-width: 1px;">
        <img src='assets/training1.png' width="200" height="200" class='training-item-photo' style="margin: 10px; border-style: solid;border-width: 1px;" alt="LOGO">
        <div class='training-item-name' style="position: absolute; top: 6px; left: 240px; font-size: 24px;"> <b>{{training.name}}</b> </div>
        <div class='training-item-description' style="position: absolute; top: 44px; left: 220px; right: 400px; font-size: 16px;"> {{training.description}} </div>
        <div class='training-item-traits' style="position: absolute; top: 8px; right: 20px; font-size: 16px; text-align: right;">
            Typ: <b>{{training.trainingType.displayName}}</b> <br> Trudność: <b>{{training.trainingDifficulty.displayName}}</b> <br> Długość: <b>{{training.trainingLength.displayName}}</b> <br> Intensywność: <b>{{training.trainingIntensity.displayName}}</b>            <br>
        </div>
    </div>
</div>

<div class="training-sessions" style="display: flex; flex-flow: wrap; max-width: initial; margin: 16px;">
    <div *ngFor="let item of trainingSessions; index as i" class="training-sessions" style="background-color: #f0ecec; min-width: 340px; max-width: 340px; height: 400px; margin: 10px; border-style: 
        solid; border-width: 1px; display: grid; align-content: space-between">
        <div>
            <b style="font-size: 20px; margin-left: 18px;">{{item.name}}</b>
            <ul class="list-group" style="margin-top: 10px;">
                <li class="list-group-item" *ngFor="let pr of progress[i]; index as j" (click)="changeProgress(pr)" class="exercise-item">
                    <b style="font-size: 16px; margin-left: 8px; grid-column: 1; max-width: 264px; word-wrap: break-word">{{pr.trainingSessionExercise.exercise.name}} 
                        <b style="font-size: 12px; margin-left: 8px; grid-column: 1; font-weight: lighter;">serie: {{pr.trainingSessionExercise.exercise.sets}}, powtórzenia: {{pr.trainingSessionExercise.exercise.reps}}</b>
                    </b>
                    <input *ngIf="editMode == false" type="checkbox" [checked]="isChecked(pr)" style="grid-column: 2; align-self: center; margin-right: 8px; transform: scale(1.2)" />
                    <div style="grid-column: 2;">
                        <button *ngIf="editMode" type="button" class="btn btn-light btn-circle btn-sm" (click)="modExercise(pr)" style="margin-right: 6px;">
                            <b style="position: relative; top: -7px;">m</b> 
                        </button>
                        <button *ngIf="editMode" type="button" class="btn btn-light btn-circle btn-sm-remove" (click)="delExercise(item, pr)" style="margin-right: 6px;">
                            <b style="position: relative; top: -7px;">-</b> 
                        </button>
                    </div>
                </li>
            </ul>
            <div *ngIf="editMode" style="display: flex; justify-content: center; margin-top: 10px;">
                <button type="button" class="btn btn-light btn-circle btn-sm-add" (click)="addExercise(item)">
                    <b style="position: relative; top: -7px;">+</b> 
                </button>
            </div>
        </div>
        <div *ngIf="isTrainingDone(progress[i])">
            <div style="min-height: 40px; line-height: 40px; position: static; background-color: lightsteelblue; font-weight: bold; text-align: center; ">Wykonane!</div>
        </div>
    </div>

    <div *ngIf="editMode" class="add-training-session" style="min-width: 340px; max-width: 340px; height: 400px; margin: 10px; border-style: 
        solid; border-width: 1px; display: grid; align-content: center; justify-content: center; background-color: grey;">
        <button type="button" class="btn btn-light btn-circle btn-xl" (click)="addTrainingSessionPopupOpen()">
            <b style="position: relative; top: -8px;">+</b>
        </button>
    </div>

</div>