<div class="container-fluid training-management-container">
    <a routerLink="/pages/wall">przejdź na ścianę</a>
    <form [formGroup]="form">
        <label formArrayName="diffFilters" *ngFor="let filter of form.controls.diffFilters['controls'] ; let i = index">
          <input type="checkbox" [formControlName]="i" />
          {{trainingDiffs[i].displayName}}
        </label>

        <label formArrayName="intensityFilters" *ngFor="let filter of form.controls.intensityFilters['controls'] ; let i = index">
            <input type="checkbox" [formControlName]="i" />
            {{trainingIntensities[i].displayName}}
          </label>

        <label formArrayName="lengthFilters" *ngFor="let filter of form.controls.lengthFilters['controls'] ; let i = index">
            <input type="checkbox" [formControlName]="i" />
            {{trainingLengths[i].displayName}}
          </label>

        <label formArrayName="typeFilters" *ngFor="let filter of form.controls.typeFilters['controls'] ; let i = index">
            <input type="checkbox" [formControlName]="i" />
            {{trainingTypes[i].displayName}}
          </label>

        <button (click)="submit()" type="button" class="btn btn-light">Szukaj</button>
    </form>
</div>

<hr>

<div class="container-fluid training-management-container">
    <ul class="training-plans-list">
        <li *ngFor="let item of trainingPlans; index as i">
            <img src='assets/training1.png' width="200" height="200" class='your-order-item-photo' alt="LOGO">
            <div class='your-order-item-bar'> {{item.name}} </div>
        </li>
    </ul>
</div>