<div class="modal-header" style="background-color: orange;">
    <h4 class="modal-title pull-left">Modyfikacja ćwiczenia</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body" style="background-color: lightgray;">
    <div class="row">
        <div class="col-md-8 offset-md-2 form-group" style="display: grid;">
            <input id="exercise-name" name="exercise-name" class="form-control" style="margin-top: 10px;" placeholder="nazwa ćwiczenia" [(ngModel)]="exercise.name">
            <input id="exercise-sets" name="exercise-sets" class="form-control" style="margin-top: 10px;" placeholder="ilość serii" [(ngModel)]="exercise.sets">
            <input id="exercise-reps" name="exercise-reps" class="form-control" style="margin-top: 10px;" placeholder="ilość powtórzeń" [(ngModel)]="exercise.reps">
            <button type="button" class="btn btn-success" style="margin-top: 20px;" (click)="onConfirm()">Dodaj</button>
            <button type="button" class="btn btn-danger btn-block" style="margin-top: 20px;" (click)="onCancel()">Anuluj</button>
        </div>
    </div>
</div>